.root-container {
  padding-top: 80px;
}
.request-form {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.promo-container {
  margin-top: 50px;
}

.promo-header {
  font-size: 3.5rem !important;
  margin-bottom: 70px !important;
}
