.root-container {
  padding-top: 80px;
}
.request-form {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.promo-container {
  margin-top: 50px;
}

.promo-header {
  font-size: 3.5rem !important;
  margin-bottom: 70px !important;
}

/* navbar 
.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(141, 247, 3) 0%,
    rgb(224, 228, 15) 70%
  );
} */
/* .datepickerCustom {
  background-color: aquamarine;
} */
